<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TodoList开发</title>
    <script src="./vue/vue.js"></script>
</head>
<body>
  <div id="example">
      <input v-model="Value"/>
      <button @click="haSubmit">提交</button>
      <ul>
          <li v-for="(item, index) of list" :key="index">{{item}}</li>
      </ul>
  </div>
<script>
    new Vue({
        el:"#example",
        data:{
          Value:"",
            list: []
        },
        methods:{
            haSubmit:function () {
             this.list.push(this.Value)
             // 添加完，清除值
             this.Value=""
            }
        }

    })
</script>
</body>
</html>